<?xml version="1.0"?>
<launch>

  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find inchworm_description)/urdf/inchworm_description.urdf'" />
    
  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find inchworm_description)/launch/inchworm.rviz"/>

</launch>

