<?xml version="1.0"?>
<robot name="shingle_magnets">
    <!-- Shingle mate definition-->
    <xacro:macro name="shingle_mate" params="magnet_r">
        <mate_model type="shingle_mate" model="dipole">
            <symmetry>
                <rot>1 1 4</rot>
            </symmetry>

            <!-- Same as robot magnet forces. -->
            <max_force>18 18 44.5</max_force>

            <!-- All three values chosen randomly. -->
            <max_torque>10 10 10</max_torque>

            <!-- Arbitrary. -->
            <max_distance>0.02</max_distance>

            <!-- Three dipoles create an equilateral triangle, with center->vertex = magnet_r and centered on origin. -->
            <dipole>
                <position>0 ${magnet_r} 0</position>
                <moment>0 0 0.02</moment>
                <min_distance>0.005</min_distance>
            </dipole>
            <dipole>
                <position>${magnet_r * cos(radians(90+120))} ${magnet_r * sin(radians(90+120))} 0</position>
                <moment>0 0 0.02</moment>
                <min_distance>0.005</min_distance>
            </dipole>
            <dipole>
                <position>${magnet_r * cos(radians(90+240))} ${magnet_r * sin(radians(90+240))} 0</position>
                <moment>0 0 0.02</moment>
                <min_distance>0.005</min_distance>
            </dipole>

            <attach_threshold>
                <linear>${linear_attach}</linear>
                <angular>${angular_attach}</angular>
            </attach_threshold>

            <detach_threshold>
            <linear>${linear_detach}</linear>
            <angular>${angular_detach}</angular>
            </detach_threshold>

            <joint type="fixed" name="shingle_mate">
                <!-- TODO: Determine correct pose offset for foot -->
                <pose>0 0 0 0 0 0</pose>

                <!-- Strings must match the beginning of link names.
                     This should math shingles with the roof. -->
                <parent>env_roof</parent>
                <child>env_shingle</child>
                <physics>
                    <provide_feedback>true</provide_feedback>
                    <ode>
                        <max_force>44.5</max_force>
                    </ode>
                </physics>

            <joint>
        </mate_model>
    </xacro:macro>

    <!-- Shingle atom to connect shingle to -->
    <xacro:macro name="shingle_iw_atom" params="">
        <atom_model type="" />
    </xacro:macro>
</robot>